<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      
      <initialize>
        <processor type="Sitecore.Support.Forms.Mvc.Pipelines.Initialize.AddCustomMetadataProvider, Sitecore.Support.97688" patch:i="*[@type='Sitecore.Forms.Mvc.Pipelines.Initialize.AddCustomMetadataProvider, Sitecore.Forms.Mvc']" />
      </initialize>
      
      <wffm.createMetadata>
        <processor type="Sitecore.Support.Forms.Mvc.Pipelines.CreateMetadata.AddWffmMetadata,Sitecore.Support.97688" patch:i="*['Sitecore.Forms.Mvc.Pipelines.CreateMetadata.AddWffmMetadata,Sitecore.Forms.Mvc']" />
      </wffm.createMetadata>
      
    </pipelines>
  </sitecore>
</configuration>
